backend/node_modules
backend/places
backend/uploads
backend/.env
backend/package-lock.json
backend/0.env.development
backend/0.env.production
backend/avatars
backend/.env.development
backend/.env.production
frontend/node_modules
frontend/package-lock.json
frontend/build
frontend/services
frontend/src/mapconfig.js
.gitignore
frontend/src/services/firebaseConfig.js
backend/client/
backend/frontphotos/
backend/amenities/
backend/models/index.js
backend/0server.js
backend/server.js
backend/identities/
backend/signatures/
