.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentStyle {
  min-height: 100vh;
  overflow: auto;
}
.container-fluid {
  /* margin: 0 auto; */
  padding: 1em 2em;
}
.container {
  /* margin: 0 auto; */
  padding: 4em 12em;
}

.headerStyle {
  position: sticky;
  top: 0;
  z-Index: 1;
}

.logoStyle {
  height: 46px !important;
}
.nearbyplacescarouselarrow{
  position: absolute;
  font-size: 20px;
  top: 40%;
  z-index: 1;
  color: '#2b2c32';
}
.left{
  left: 0;
}
.right{
  right: 0;
}
.nearbyplacescarousel{
  height: 180px;
  overflow: hidden;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 576px) {
  .logoStyle {
    height: 40px !important;
  }
  .nearbyplacescarousel{
    height: 120px;
    overflow: hidden;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .container {
    /* margin: 0 auto; */
    padding: 2em 2em;
  }
}

.siderStyle {
  position: sticky;
  top: 0;
  z-Index: 1;
  text-align: center;
}

.footerStyle {
  width: 100%;
  display: grid;
  align-content: center;
  text-align: center;
  max-height: 50px;
}

.layoutStyle {
  overflow: hidden;
}

.sigCanvas {
  width: 100%;
  height: 240;
  cursor: crosshair;
}

/* Custom styles for Carousel dots */
.ant-carousel .slick-dots {
  bottom: 20px; /* Adjust the position of the dots */
}

.ant-carousel .slick-dots li {
  margin: 0 4px; /* Adjust the space between dots */
}

.ant-carousel .slick-dots li button {
  height: 5px; /* Adjust the height of the dot */
  background-color: #ebdecd; /* Change the background color of the dot */
}

.ant-carousel .slick-dots li.slick-active button {
  background-color: #aa7e42; /* Change the active dot color */
}

.icon-style {
  font-size: 40px;
  margin-right: 6px;
}